---
import { Picture } from 'astro:assets';
import ContactForm from '../components/ContactForm.astro';
import Header from '../components/Header.astro';
import contact from '../data/contact.json';
import Layout from '../layouts/Layout.astro';
import SocialIcons from '../components/SocialIcons.astro';
import logo from '../assets/logos/logo-arviseg.png';
import Map from '../components/Map.astro';
---

<Layout title="ARVISEG contactos">
  <Header />

  <section
    class="form-section image-7 px-12 py-8 pt-50 grid gap-8 relative -top-22"
  >
    <div class="grid gap-8">
      <h2 class="text-primary text-3xl sm:text-5xl uppercase">Contáctanos</h2>
      <p class="max-w-[320px] text-lg">
        Av. Reina Victoria N13-95 y Colón. Edif. Banco de Guayaquil, Piso PH
      </p>
    </div>
    <div class="grid md:grid-flow-row-dense md:grid-cols-3 gap-12">
      <div class="grid gap-4">
        <h3 class="text-primary h-fit max-w-[200px] text-2xl">
          Tu seguridad en nuestras manos
        </h3>
        <div class="grid gap-4 h-fit mt-8 md:-mt-8">
          <h4 class="text-primary uppercase">Contactos</h4>
          <div class="flex flex-wrap gap-4 justify-between">
            <ul>
              {
                contact.info.phones.map((phone) => (
                  <li class="mb-2">{phone}</li>
                ))
              }
            </ul>
            <ul>
              {
                contact.info.emails.map((mail) => (
                  <li class="mb-2">
                    <a class="mails" href={`mailto:${mail}`}>
                      {mail}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <div class="self-end">
          <SocialIcons />
        </div>
      </div>
      <ContactForm />
    </div>
  </section>
  <section class="px-12 pt-8 grid gap-8">
    <h3 class="text-primary text-3xl sm:text-4xl uppercase">
      Como Encontrarnos
    </h3>
    <Map />
  </section>

  <footer class="lines px-12 pt-4 pb-4 border-t border-red-500 mt-15">
    <section
      class="grid sm:grid-cols-2 lg:grid-cols-4 justify-between gap-12 mb-4 pt-8"
    >
      <div class="h-fit flex items-start gap-4">
        <Picture
          class="size-16"
          src={logo}
          formats={['png']}
          alt="logo arviseg"
        />
        <h3 class="text-primary text-2xl sm:text-3xl self-center">ARVISEG</h3>
      </div>
    </section>
    <div
      class="lines flex gap-4 flex-wrap justify-center sm:justify-between mt-10 pt-4 border-t border-red-500"
    >
      <p>
        &copy; {new Date().getFullYear()} ARVISEG. Todos los derechos reservados.
      </p>
      <p>Diseñado y desarrollado por</p>
    </div>
  </footer>
</Layout>
