---
import contact from '../data/contact.json';
---

<form
  action="https://formsubmit.co/asistente@anvi-arviseg.com"
  method="POST"
  class="bg-primary text-black w-full md:max-w-lg md:col-span-2 grid gap-8 p-8 justify-self-end"
>
  <input type="hidden" name="_subject" value="Nuevo mensaje desde ARVISEG" />
  <input type="hidden" name="_captcha" value="true" />
  <input type="hidden" name="_template" value="table" />

  <h4 class="max-w-[280px] text-2xl">{contact.form.title}</h4>
  <p>{contact.form.description}</p>
  <div class="grid gap-6">
    <div class="grid sm:grid-cols-2 gap-4">
      <label for="nombre">
        <input
          class="w-full px-2 pt-2 pb-1 border-b-1 focus:outline-none focus:ring-1 focus:border-transparent"
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Nombre"
          required
        />
      </label>
      <label for="telefono">
        <input
          class="w-full px-2 pt-2 pb-1 border-b-1 focus:outline-none focus:ring-1 focus:border-transparent"
          type="text"
          name="telefono"
          id="telefono"
          placeholder="Teléfono"
          required
        />
      </label>
    </div>
    <label for="correo">
      <input
        class="w-full px-2 pt-2 pb-1 border-b-1 focus:outline-none focus:ring-1 focus:border-transparent"
        type="email"
        name="correo"
        id="correo"
        placeholder="Correo"
        required
      />
    </label>
    <label for="mensaje">
      <textarea
        class="w-full h-25 px-2 pt-2 pb-1 border-b-1 focus:outline-none focus:ring-1 focus:border-transparent resize-none no-scrollbar overflow-auto"
        name="mensaje"
        id="mensaje"
        placeholder="Mensaje"
        required></textarea>
    </label>
  </div>
  <button type="submit" class="bg-black text-white px-4 py-2 cursor-pointer">
    Enviar
  </button>
</form>
