---
import contact from '../data/contact.json';
---

<div class="flex gap-8">
  <div class="grid gap-4">
    <h4 class="text-primary uppercase font-semibold">Contactos</h4>
    <ul class="grid gap-2">
      {contact.info.phones.map((phone) => <li>{phone}</li>)}
      {
        contact.info.emails.map((mail) => (
          <li>
            <a class="mails" href={`mailto:${mail}`}>
              {mail}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
