---
// components/Footer.astro
import { Picture } from 'astro:assets';
import logo from '../assets/logos/logo-arviseg.png';
import SocialIcons from './SocialIcons.astro';
import ContactsList from './ContactsList.astro';

const isHomePage = Astro.url.pathname === '/';
const homeHref = isHomePage ? '#home' : '/#home';
const aboutHref = isHomePage ? '#about' : '/#about';
---

<footer class="lines px-8 sm:px-12 pt-12 pb-4 mt-20">
  <p class="fade-up max-w-[220px] text-2xl sm:text-3xl">
    Tu seguridad <span class="font-bold text-color-hover"
      >en nuestras manos</span
    >
  </p>
  <section
    class="grid sm:grid-cols-2 lg:grid-cols-4 justify-between gap-12 mb-4 pt-8"
  >
    <div class="fade-up delay-1 h-fit flex items-start gap-2">
      <Picture
        class="size-13"
        src={logo}
        formats={['png']}
        alt="logo arviseg"
      />
      <h3 class="text-primary text-2xl sm:text-3xl self-end font-bold">
        ARVISEG
      </h3>
    </div>
    <div
      class="fade-up delay-2 flex flex-wrap justify-between gap-8 items-start"
    >
      <div class="grid gap-4 max-w-[280px]">
        <h4 class="text-primary uppercase font-semibold">Direccion</h4>
        <a
          class="address-link"
          href="https://www.google.com/maps?cid=15334958517055291717&g_mp=CiVnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLkdldFBsYWNlEAIYASAA&hl=en&gl=EC&source=embed"
          target="_blank"
          >Av. Reina Victoria N13-95 y Colón. Edif. Banco de Guayaquil, Piso PH
        </a>
      </div>
      <div class="grid gap-4">
        <h4 class="text-primary uppercase font-semibold">Redes</h4>
        <SocialIcons />
      </div>
    </div>
    <div class="fade-up delay-3">
      <ContactsList />
    </div>
    <div class="fade-up delay-4">
      <h4 class="text-primary uppercase font-semibold">Enlaces</h4>
      <nav class="w-fit flex flex-col block gap-2 mt-4">
        <a href={homeHref}>Inicio</a>
        <a href={aboutHref}>Nosotros</a>
        <a href="/services/">Servicios</a>
        <a href="/contact/">Contacto</a>
      </nav>
    </div>
  </section>
  <div
    class="fade-in lines flex gap-4 flex-wrap justify-center sm:justify-between mt-14 pt-4"
  >
    <p>
      &copy; {new Date().getFullYear()} ARVISEG. Todos los derechos reservados.
    </p>
    <p>
      Diseñado y desarrollado por <a
        class="zentro"
        href="https://www.instagram.com/zentro.ec_/">zentro.ec</a
      >
    </p>
  </div>
</footer>

<style>
  .address-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .address-link .arrow-icon {
    transition: color 0.3s ease;
  }

  .address-link:hover {
    color: #fff59d;
  }

  .address-link:hover .arrow-icon {
    color: var(--color-primary);
  }
</style>
