---
// components/Footer.astro
import { Picture } from 'astro:assets';
import logo from '../assets/logos/logo-arviseg.png';
import SocialIcons from './SocialIcons.astro';
import ContactsList from './ContactsList.astro';

const isHomePage = Astro.url.pathname === '/';
const homeHref = isHomePage ? '#home' : '/#home';
const aboutHref = isHomePage ? '#about' : '/#about';
---

<footer class="lines px-8 sm:px-12 pt-12 pb-4 mt-20">
  <p class="fade-up max-w-[220px] text-2xl sm:text-3xl">
    Tu seguridad <span class="font-bold text-primary">en nuestras manos</span>
  </p>
  <section
    class="grid sm:grid-cols-2 lg:grid-cols-4 justify-between gap-12 mb-4 pt-8"
  >
    <div class="fade-up delay-1 h-fit flex items-start gap-4">
      <Picture
        class="size-14"
        src={logo}
        formats={['png']}
        alt="logo arviseg"
      />
      <h3 class="text-primary text-2xl sm:text-4xl self-center font-bold">
        ARVISEG
      </h3>
    </div>
    <div
      class="fade-up delay-2 flex flex-wrap justify-between gap-8 items-start"
    >
      <div class="grid gap-4 max-w-[280px]">
        <h4 class="text-primary uppercase font-semibold">Direccion</h4>
        <p>
          Av. Reina Victoria N13-95 y Colón. Edif. Banco de Guayaquil, Piso PH
        </p>
      </div>
      <div class="grid gap-4">
        <h4 class="text-primary uppercase font-semibold">Redes</h4>
        <SocialIcons />
      </div>
    </div>
    <div class="fade-up delay-3">
      <ContactsList />
    </div>
    <div class="fade-up delay-4 grid gap-4">
      <h4 class="text-primary uppercase font-semibold">Enlaces</h4>
      <nav class="w-fit grid gap-2">
        <a href={homeHref}>Inicio</a>
        <a href={aboutHref}>Nosotros</a>
        <a href="/services/">Servicios</a>
        <a href="/contact/">Contacto</a>
      </nav>
    </div>
  </section>
  <div
    class="fade-in lines flex gap-4 flex-wrap justify-center sm:justify-between mt-14 pt-4"
  >
    <p>
      &copy; {new Date().getFullYear()} ARVISEG. Todos los derechos reservados.
    </p>
    <p>
      Diseñado y desarrollado por <a
        class="zentro"
        href="https://www.instagram.com/zentro.ec_/">zentro.ec</a
      >
    </p>
  </div>
</footer>
