---
import Integridad from '../icons/values/integrity.svg';
import Disciplina from '../icons/values/discipline.svg';
import Transparencia from '../icons/values/transparence.svg';
import Lealtad from '../icons/values/loyalty.svg';
import Excelencia from '../icons/values/excellence.svg';
import Perseverancia from '../icons/values/perseverance.svg';
import home from '../data/home.json';

const icons = {
  integrity: Integridad,
  discipline: Disciplina,
  transparency: Transparencia,
  loyalty: Lealtad,
  excellence: Excelencia,
  perseverance: Perseverancia
};

type IconName = keyof typeof icons;

interface Props {
  name: IconName;
  class?: string;
}
---

<div class="flex flex-wrap gap-8 justify-evenly px-6 mt-8">
  {
    home.values.list.map((value: { title: string; icon: string }, i: number) => {
      const ValueIcon = icons[value.icon as IconName];
      const delayClass = i < 3 ? `delay-${i + 1}` : `delay-${Math.min(i, 4)}`;
      return (
        <div class={`fade-up ${delayClass} values-content justify-items-center px-4 gap-5`}>
          <div class="w-9 sm:w-10">
            {ValueIcon && <ValueIcon class={value.title} />}
          </div>
          <h4 class="text-md">{value.title}</h4>
        </div>
      );
    })
  }
</div>
