---
import SocialIcons from './SocialIcons.astro';
import InfoIcons from './InfoIcons.astro';
---

<section
  class="grid justify-items-center md:flex md:justify-between gap-8 px-12 py-4"
>
  <InfoIcons />
  <SocialIcons />
</section>
