---
import SocialIcons from './SocialIcons.astro';
import InfoIcons from './InfoIcons.astro';

const { class: className = '' } = Astro.props;
---

<section
  class={`minibanner grid justify-items-center items-center md:flex md:justify-between gap-8 px-12 py-3 bg-gray-100 text-sm overflow-x-hidden overflow-y-hidden ${className}`}
>
  <InfoIcons />
  <div class="figure icons-color relative">
    <SocialIcons />
  </div>
</section>
