---
import Icon from './Icon.astro';
const { service } = Astro.props;
---

<div class="cards fade-up p-8 gap-8">
  <div class="flex max-w-[60px]">
    <Icon name={service.icon} />
  </div>
  <div class="grid gap-8">
    <h3 class="text-md font-semibold mt-3">{service.title}</h3>
    <p class="mt-2 line-clamp-5 text-[15px]">
      {service.description}
    </p>
  </div>
</div>
