---
import Facebook from '../icons/socialMedia/facebook.svg';
import Instagram from '../icons/socialMedia/instagram.svg';
import Twitter from '../icons/socialMedia/twitter.svg';

const socialIcons = [
  {
    name: 'Facebook',
    component: Facebook,
    url: 'https://www.facebook.com/arviseg'
  },
  {
    name: 'Instagram',
    component: Instagram,
    url: 'https://www.instagram.com/arvisegecuador/'
  },
  { name: 'Twitter', component: Twitter, url: 'https://twitter.com/arviseg' }
];
---

<div>
  <ul class="flex gap-4 relative z-10">
    {
      socialIcons.map(({ name, component: Icon, url }) => (
        <li>
          <a
            class="social-icons"
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={name}
          >
            <Icon class="social-svg" />
          </a>
        </li>
      ))
    }
  </ul>
</div>
