---
import ButtonUp from '../components/ButtonUp.astro';
import WhatsappButton from '../components/WhatsappButton.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Arviseg</title>
  </head>
  <body class="max-w-[1440px] m-auto">
    <div class="content-buttons grid gap-4">
      <ButtonUp />
      <WhatsappButton />
    </div>
    <slot />
  </body>
</html>
